.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
  }


  .subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #34e5eb;
  }